
@font-face {
    font-family: "Futura Maxi CG";
    src: url("/fonts/Futura Maxi CG Book Regular.woff");
}

@font-face {
    font-family: "Futura Maxi CG Bold";
    src: url("/fonts/Futura Maxi CG Bold Regular.woff");
}
