
/* widths */
$layout-width: 1240px;
$desktop-width: 992px;
$tablet-width: 991px;
$mobile-width: 767px;

/* colors */
$debug-outline: yellow;
$hot-pink: #fd4be3;
$hot-pink-dark: #ff00da;
$bg-btn-color: #2699fb;
$bg-btn-color-hover: #0069c2;
$bg-footer-color: #000;

/* fonts */
$futura: "Futura Maxi CG";
$futura-bold: "Futura Maxi CG Bold";


/* font sizes */
$nav-font-size: 1.35em;
$copy-line-height: 1.9em;
$copy-line-height-mobile: 1.75em;
$copy-font-size: 1.2em;
$copy-font-size-mobile: 1em;
$copy-padding-bottom: 10px;

/* font colors */
$nav-link-color: #fff;
$copy-color: #fff;
$btn-color: #fff;
$footer-copy-color: #424242;