
/* widths */
$layout-width: 1240px;
$desktop-width: 992px;
$tablet-width: 991px;
$mobile-width: 767px;

/* colors */
$debug-outline: yellow;
$hot-pink: #fd4be3;
$bg-btn-color: #2699fb;
$bg-footer-color: #000;

/* fonts */
$copy-font-size: 1.2em;

/* font sizes */
$nav-font-size: 1.5em;
$copy-line-height: 1.5em;
$copy-padding-bottom: 10px;

/* font colors */
$nav-link-color: #fff;
$copy-color: #fff;
$btn-color: #fff;
$footer-copy-color: #424242;