
@media screen and (max-width: $mobile-width) {

	nav {
		.navbar-nav {
			display: block;
		}

		.navbar-toggle {
			margin-right: 25px;
		}


		.logo {
			width: 200px;
		}

		ul.menu {
			display: none;
		}

		ul.social {
			top: 8px;
			right: 55px;
			height: inherit;
			line-height: inherit;
		}
	}

	#hero {
		height: 600px;

		.hero-content {
			background-size: contain;
			background-position: center 253px;
		}
	}

	.content-wrapper {
		max-width: 100%;

		.content {
			.content-container {

				.row {
					> div.btn-spacer {
						padding: 20px 0 0 0;
					}

					> div {
						padding: 0;
						margin: 0;

						.youtube-wrapper {
							padding: 15px;
						}
					}
				}
			}
		}
	}
}
